<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <link rel="stylesheet" href="./css/main.css">
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-plus"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"></script>
  <title>Document</title>
  <style>
    .el-input-number{
      width: 70%;
      text-align: left;
    }
    .el-input-number span{
      top: 2px;
    }
  </style>
</head>
<body>
  <div id="app">
    <el-row>
      <el-col :span="12"><div id="side" style="text-align: left;" class="grid-content bg-purple">
        <div class="title" style="text-align: center;">
          <p>波形发生器参数调节</p>
        </div>
        <el-form ref="form" :model="form" label-width="30%">
          <el-form-item label="波形">
            <el-select v-model="form.waveType" @change="waveTypeChange" style="width: 70%;" placeholder="正弦波">
              <el-option label="正弦波" value="1"></el-option>
              <el-option label="方波" value="2"></el-option>
              <el-option label="锯齿波" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="频率">
            <el-input-number v-model="form.freq" @change="freqChange" :min="100" :max="500" label="频率"></el-input-number>
          </el-form-item>
          <el-form-item label="占空比">
            <el-input-number v-model="form.duty" @change="dutyChange" :min="1" :max="99" label="占空比"></el-input-number>
          </el-form-item>
          <el-form-item label="峰峰值">
            <el-input-number v-model="form.uMaxValue" @change="uMaxValueChange" :min="0" :max="3.3" :precision="2" :step="0.2" label="峰峰值"></el-input-number>
          </el-form-item>
          <el-form-item label="偏置电压">
            <el-input-number v-model="form.biasVoltage " @change="biasChange" :min="0" :max="3.3" :precision="2" :step="0.2" label="频率"></el-input-number>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit" style="width: 30%; margin-right: 10%;">立即设置</el-button>
            <el-button type="reset" style="width: 30%; margin-left: 0%;" >取消</el-button>
          </el-form-item>
        </el-form>

      </div></el-col>
      <el-col :span="12"><div id="scope" class="grid-content bg-purple-light">
        <div class="title" style="text-align: center;">
          <p>波形预览</p>
        </div>
        <div id="main" style="width: 700px;height:400px;">
 
        </div>
        <div class="scopeMenu">
          <el-form ref="form" :model="form1" label-width="20%">
            <el-form-item>
              <el-button type="primary" @click="scopeStart" style="width: 30%; margin-right: 5%;">运行</el-button>
              <el-button type="reset" @click="scopeStop" style="width: 30%; margin-left: 0%;" >停止</el-button>
            </el-form-item>
            <el-form-item label="I2S ADC采样率：">
              <el-radio-group v-model="form1.sampleRate" @change="sampleRateChange">
                <el-radio :label="8000">8000</el-radio>
                <el-radio :label="16000">16000</el-radio>
                <el-radio :label="32000">32000</el-radio>
                <el-radio :label="64000">64000</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="缩放倍数">
              <el-input-number v-model="form1.scaleTimes" @change="scaleChange" :min="1" :step="1" :max="8" label="缩放倍数"></el-input-number>
            </el-form-item>
          </el-form>
        </div>
      </div></el-col>
    </el-row>
  </div>
</body>
<script>
var settings = {
  waveType: 1,
  freq: 200,
  duty: 50,
  uMaxValue: 3.3,
  biasVoltage: 1.65,
  sampleRate: 16000,
  scaleTimes: 8
};
var Main = {
    data() {
      return {
        form: {
          waveType: 1,
          freq: 200,
          duty: 50,
          uMaxValue: 3.3,
          biasVoltage: 1.65,
          type: []
        },
        form1: {
          sampleRate: 8000,
          scaleTimes: 8
        }
      }
    },
    methods: {
      onSubmit(value) {
        console.log('submit!');
        console.log(settings);
        sendData(settings);
        wave_gen();
        refreshData();
        time_div = 3.65;
        time_div = time_div/((settings.sampleRate/8000)*(8/settings.scaleTimes));
        if(time_div<1){
          time_div2 = (time_div*1000).toFixed(2) + "us/Div";
        }
        else{
          time_div2 = time_div.toFixed(2) + "ms/Div";
        }
      },
      waveTypeChange(value){
        settings.waveType = value;
        wave = value;
      },
      freqChange(value){
        settings.freq=value;
        console.log(value);
      },
      dutyChange(value){
        settings.duty=value;
        duty = value;
        console.log(value);
      },
      uMaxValueChange(value){
        settings.uMaxValue=value;
        uMaxValue = value;
        console.log(value);
      },
      biasChange(value){
        settings.biasVoltage=value;
        offSetValue = value;
        console.log(value);
      },
      sampleRateChange(value){
        settings.sampleRate=value;
        console.log(value+" "+time_div);
      },
      scaleChange(value){
        settings.scaleTimes = value;
        console.log(value+" "+time_div);
      },
      scopeStart(){
        start=true;
      },
      scopeStop(){
        start=false;
      }
    }
  };
const app = Vue.createApp(Main);
app.use(ElementPlus);
app.mount("#app")
</script>
<script>
  var webSocket;
  var time_div = 3.65;
  var time_div2 = "3.65ms/Div";
  let dataAdc = {adcBuff:[1]};
  for(let i=0;i<128;i++){
    dataAdc.adcBuff.push(2);
  }
  function init(){
    webSocket = new WebSocket('ws://192.168.3.156:81/');
    webSocket.onmessage = function(event){
    dataAdc = [];
    dataAdc = JSON.parse(event.data);
    //console.log(dataAdc.adcBuff[0]);
    //refreshData();
  }
  webSocket.onclose = function(event){
    console.log("websocket closed");
  }
}
function sendData(data){
    webSocket.send(JSON.stringify(data));
}
</script>
<script src="./js/FunctionGenerator.js"></script>
</html>